n8n/Reporting and Auditing for my RADKit/Reporting_Auditing for my RADKit.json
{
  "name": "Reporting/Auditing for my RADKit",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        10768,
        2320
      ],
      "id": "8e143866-60e9-4544-9a67-681a5bc5c542",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "radkit-loves-agenticops",
          "mode": "list",
          "cachedResultName": "radkit-loves-agenticops",
          "cachedResultUrl": "https://github.com/ponchotitlan/radkit-loves-agenticops"
        },
        "filePath": "=n8n/Reporting and Auditing for my RADKit/reports/files/{{ $('Consolidate report query').item.json.file_prefix }}_{{ $now}}.md",
        "fileContent": "={{ $json.output }}",
        "commitMessage": "={{ $('Consolidate report query').item.json.file_prefix }} report gen"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        12912,
        2208
      ],
      "id": "be2117fe-e5d5-4f05-8501-4c71f1bc1fd9",
      "name": "Create a report file",
      "webhookId": "e166c285-6ad1-4efd-a30c-0ea0eba19ff5",
      "credentials": {
        "githubApi": {
          "id": "3oI1yLJDAOsHyRFo",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "radkit-loves-agenticops",
          "mode": "list",
          "cachedResultName": "radkit-loves-agenticops",
          "cachedResultUrl": "https://github.com/ponchotitlan/radkit-loves-agenticops"
        },
        "title": "=[{{ $('Consolidate ticketing query').item.json.report_tag }}] [{{ $('Convert to JSON').item.json.priority }}] {{ $('Convert to JSON').item.json.title }}",
        "body": "={{ $('Convert to JSON').item.json.description }}\n\n📚 Reference report: {{ $('Consolidate ticketing query').item.json.report_url }}",
        "labels": [
          {
            "label": "={{ $json.priority }}"
          }
        ],
        "assignees": []
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        14416,
        2096
      ],
      "id": "3ff3e9a7-8a70-48b7-b864-fad4148e3a4a",
      "name": "Create an issue",
      "webhookId": "0b777a2d-254b-4cf3-b721-9b1d79a1ab5e",
      "credentials": {
        "githubApi": {
          "id": "3oI1yLJDAOsHyRFo",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "radkit-loves-agenticops",
          "mode": "list",
          "cachedResultName": "radkit-loves-agenticops",
          "cachedResultUrl": "https://github.com/ponchotitlan/radkit-loves-agenticops"
        },
        "filePath": "n8n/Reporting and Auditing for my RADKit/reports",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        10976,
        2320
      ],
      "id": "407c7b8f-1b7d-4b3c-ba0d-80554b3fbd36",
      "name": "List report query files",
      "webhookId": "8b525fa1-eeb6-4e2a-a76f-e44ce5a1f6e0",
      "credentials": {
        "githubApi": {
          "id": "3oI1yLJDAOsHyRFo",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const entries = $input.all().flatMap(item => {\n  const data = item.json;\n\n  if (Array.isArray(data)) return data;\n  if (Array.isArray(data.items)) return data.items;\n  if (Array.isArray(data.data)) return data.data;\n\n  return [data];\n});\n\nconst reportQueryFiles = entries\n  .filter(entry =>\n    entry &&\n    entry.type === 'file' &&\n    typeof entry.path === 'string' &&\n    entry.path.includes('/reports/') &&\n    entry.path.endsWith('.txt')\n  );\n\nreturn reportQueryFiles.map(file => ({\n  json: {\n    report_query_path: file.path\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11184,
        2320
      ],
      "id": "0ff5b945-c45e-4d33-bf4c-3523200a7ee2",
      "name": "Prepare report query files"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        11408,
        2320
      ],
      "id": "6089c72b-6531-4d37-9171-9672845b8a29",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "radkit-loves-agenticops",
          "mode": "list",
          "cachedResultName": "radkit-loves-agenticops",
          "cachedResultUrl": "https://github.com/ponchotitlan/radkit-loves-agenticops"
        },
        "filePath": "n8n/Reporting and Auditing for my RADKit/agents/network_report_agent.txt",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        10976,
        2080
      ],
      "id": "16df2cf5-1805-403a-b281-c30a624eaed4",
      "name": "Get the report agent prompt",
      "webhookId": "1775c2e6-93b0-4333-b8bd-cb5a9958fa9e",
      "credentials": {
        "githubApi": {
          "id": "3oI1yLJDAOsHyRFo",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "radkit-loves-agenticops",
          "mode": "list",
          "cachedResultName": "radkit-loves-agenticops",
          "cachedResultUrl": "https://github.com/ponchotitlan/radkit-loves-agenticops"
        },
        "filePath": "n8n/Reporting and Auditing for my RADKit/agents/network_ticketing_agent.txt",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        12912,
        2000
      ],
      "id": "babd0ebe-e93f-4d8b-879a-7d8c7a523411",
      "name": "Get the ticketing agent prompt",
      "webhookId": "1775c2e6-93b0-4333-b8bd-cb5a9958fa9e",
      "credentials": {
        "githubApi": {
          "id": "3oI1yLJDAOsHyRFo",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the base64 content\nconst base64Content = $input.first().json.content;\n\n// Decode from base64\nconst decodedContent = Buffer.from(base64Content, 'base64').toString('utf-8');\n\n// Return the decoded content\nreturn {\n  json: {\n    netauto_agent_prompt: decodedContent\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11184,
        2080
      ],
      "id": "88c036f7-08aa-4f6a-ac55-1b8bc2fe28b5",
      "name": "Decode report agent prompt"
    },
    {
      "parameters": {
        "jsCode": "// Get the base64 content\nconst base64Content = $input.first().json.content;\n\n// Decode from base64\nconst decodedContent = Buffer.from(base64Content, 'base64').toString('utf-8');\n\n// Return the decoded content\nreturn {\n  json: {\n    ticketing_agent_prompt: decodedContent\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13136,
        2000
      ],
      "id": "6b6b55ea-6522-4e4c-afc1-60755ce031ea",
      "name": "Decode ticketing agent prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ticketing_agent_prompt }}\n\nReport: {{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        13712,
        2112
      ],
      "id": "e7e68cbf-546e-48b7-9002-c700b1fe0639",
      "name": "Tickets AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst output = items.map(item => {\n  let outputText = item.json.output;\n  \n  // Remove markdown code block markers (```json and ```)\n  outputText = outputText.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n  \n  // Parse the JSON string into an object\n  const parsedJson = JSON.parse(outputText);\n  \n  return { json: parsedJson };\n});\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14016,
        2112
      ],
      "id": "5efc9c42-f209-466e-9887-1d9cec5b0584",
      "name": "Convert to JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "44b388a2-943d-4801-b559-c51f2b077113",
              "leftValue": "={{ $json.create_issue }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        14192,
        2112
      ],
      "id": "35a2d7ac-1c23-438e-8b5e-ed5619d7c17f",
      "name": "Is there an issue?"
    },
    {
      "parameters": {
        "jsCode": "// Return the files data\nconst items = $input.all();\n\nconst output = items.map(item => {\n  return {\n    json: {\n      report_url: item.json.content.html_url,\n      report_tag: item.json.commit.message\n    }\n  };\n});\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13136,
        2208
      ],
      "id": "d5f062a2-3542-4ef2-a5b3-6415518c6e33",
      "name": "Get report URL and tag"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "radkit-loves-agenticops",
          "mode": "list",
          "cachedResultName": "radkit-loves-agenticops",
          "cachedResultUrl": "https://github.com/ponchotitlan/radkit-loves-agenticops"
        },
        "filePath": "={{ $json.report_query_path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        11648,
        2320
      ],
      "id": "e8c1e0b8-2551-400e-ac6e-c3695ec20d7b",
      "name": "Get the report query file",
      "webhookId": "1775c2e6-93b0-4333-b8bd-cb5a9958fa9e",
      "credentials": {
        "githubApi": {
          "id": "3oI1yLJDAOsHyRFo",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        13056,
        2496
      ],
      "id": "05a02f40-a3b9-42bd-8828-de789446aa70",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "YJ198Z96Butc8SD3",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Consolidate report query').item.json.executionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        12480,
        2384
      ],
      "id": "446b4e0a-8384-4c67-a85e-d72af23d9472",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.netauto_agent_prompt }}\n\n- Query: {{ $json.query }}\n- Intent: {{ $json.intent }}\n- Notes: {{ $json.notes }}\n",
        "options": {
          "maxIterations": 100
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        12528,
        2112
      ],
      "id": "f65ff004-80bc-4777-8515-290f730d8f52",
      "name": "Reports AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Get the base64 content\nconst source = $input.first().json;\nconst base64Content = source.content;\n\n// Decode from base64\nconst text = Buffer.from(base64Content, 'base64').toString('utf-8');\n\n// Ensure it's a string\nconst raw = typeof text === 'string' ? text : JSON.stringify(text);\n\n// Split into lines\nconst lines = raw.split('\\n');\n\n// Object to store parsed fields\nconst result = {\n  report_query_path: source.path\n};\n\nfor (const line of lines) {\n  // Match pattern: - Key: Value\n  const match = line.match(/-\\s*(.+?):\\s*(.+)/);\n  if (match) {\n    const key = match[1]\n      .trim()\n      .toLowerCase()\n      .replace(/\\s+/g, '_'); // e.g. \"File Prefix\" -> \"file_prefix\"\n\n    const value = match[2].trim();\n    result[key] = value;\n  }\n}\n\n// Return as JSON\nreturn [\n  {\n    json: result\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11840,
        2144
      ],
      "id": "3d701429-ae72-44cc-8327-56ca0e685547",
      "name": "Decode report query file"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        12128,
        2096
      ],
      "id": "f7453eb0-2c07-4157-8e31-704442b08598",
      "name": "Merge report query data"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $input.all();\n\n// Merge all json objects into one\nconst merged = {};\n\nfor (const item of items) {\n  Object.assign(merged, item.json);\n}\n\n// Return as a single item\nreturn [\n  {\n    json: merged\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12352,
        2112
      ],
      "id": "3aad6770-561e-4f33-88e2-4a78b11d41ff",
      "name": "Consolidate report query"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        13360,
        2096
      ],
      "id": "326c96c1-339c-4e8d-ac4d-e05d07d614a3",
      "name": "Merge ticketing query data"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $input.all();\n\n// Merge all json objects into one\nconst merged = {};\n\nfor (const item of items) {\n  Object.assign(merged, item.json);\n}\n\n// Return as a single item\nreturn [\n  {\n    json: merged\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13552,
        2112
      ],
      "id": "8fbf1686-5b33-42ab-bbaf-ab37f2401c58",
      "name": "Consolidate ticketing query"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        10768,
        2080
      ],
      "id": "c8c48790-ca6c-4b03-8475-c02dfe7e4c1c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "//Random string for session IDs in memory\nreturn [{\n  json: {\n    executionId: Math.random().toString(36).substring(2, 9)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11648,
        2624
      ],
      "id": "c31801b6-eeba-4809-a000-ba1bd2260791",
      "name": "Random execution ID for memory"
    },
    {
      "parameters": {
        "endpointUrl": "http://host.docker.internal:8083/mcp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        12720,
        2384
      ],
      "id": "a35d1302-991f-4677-a1b6-a1224f0fab7a",
      "name": "Cisco RADKit MCP - Full Mode"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webexapis.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "ciscoWebexOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "roomId",
              "value": "Y2lzY29zcGFyazovL3VzL1JPT00vOGExMmJlMjAtYzlmNS0xMWYwLTkzYzAtMjEyOGM2M2I4MThm"
            },
            {
              "name": "text",
              "value": "=An automated report for your RADKit service was generated"
            },
            {
              "name": "attachments",
              "value": "={{ [\n  {\n    contentType: 'application/vnd.microsoft.card.adaptive',\n    content: {\n      $schema: 'http://adaptivecards.io/schemas/adaptive-card.json',\n      type: 'AdaptiveCard',\n      version: '1.3',\n      body: [\n        {\n          type: 'TextBlock',\n          size: 'Large',\n          weight: 'Bolder',\n          text: '📝 Automated Report Generation'\n        },\n        {\n          type: 'TextBlock',\n          size: 'medium',\n          isSubtle: true,\n          wrap: true,\n          text: '✨ A new report regarding your RADKit service is available!'\n        },\n        {\n          type: 'FactSet',\n          facts: [\n            { title: '🏷️ Report tag:', value: $('Consolidate report query').item.json.file_prefix || 'unknown' }\n          ]\n        },\n        {\n          type: 'TextBlock',\n          size: 'Small',\n          isSubtle: true,\n          wrap: true,\n          text: '⚠️ This report raised compliance issues! Click on the buttons below to navigate to the report and issues raised'\n        }\n      ],\n      actions: [\n        {\n          type: 'Action.OpenUrl',\n          title: '📄 Open GitHub report',\n          url: $('Consolidate ticketing query').item.json.report_url || 'https://github.com/ponchotitlan/radkit-loves-agenticops/tree/main/reports/files'\n        },\n        {\n          type: 'Action.OpenUrl',\n          title: '🐛 Open GitHub issue',\n          url: $json.html_url || 'https://github.com/ponchotitlan/radkit-loves-agenticops/issues'\n        }\n      ]\n    }\n  }\n] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        14656,
        2384
      ],
      "id": "3f841de0-015a-4389-a876-6b4007590222",
      "name": "Send Card with Report and Issue",
      "credentials": {
        "ciscoWebexOAuth2Api": {
          "id": "TWa8cH0YBppPtSqy",
          "name": "Cisco Webex account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webexapis.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "ciscoWebexOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "roomId",
              "value": "Y2lzY29zcGFyazovL3VzL1JPT00vOGExMmJlMjAtYzlmNS0xMWYwLTkzYzAtMjEyOGM2M2I4MThm"
            },
            {
              "name": "text",
              "value": "=An automated report for your RADKit service was generated"
            },
            {
              "name": "attachments",
              "value": "={{ [\n  {\n    contentType: 'application/vnd.microsoft.card.adaptive',\n    content: {\n      $schema: 'http://adaptivecards.io/schemas/adaptive-card.json',\n      type: 'AdaptiveCard',\n      version: '1.3',\n      body: [\n        {\n          type: 'TextBlock',\n          size: 'Large',\n          weight: 'Bolder',\n          text: '📝 Automated Report Generation'\n        },\n        {\n          type: 'TextBlock',\n          size: 'medium',\n          isSubtle: true,\n          wrap: true,\n          text: '✨ A new report regarding your RADKit service is available!'\n        },\n        {\n          type: 'FactSet',\n          facts: [\n            { title: '🏷️ Report tag:', value: $('Consolidate report query').item.json.file_prefix || 'unknown' }\n          ]\n        }\n      ],\n      actions: [\n        {\n          type: 'Action.OpenUrl',\n          title: '📄 Open GitHub report',\n          url: $('Consolidate ticketing query').item.json.report_url || 'https://github.com/ponchotitlan/radkit-loves-agenticops/tree/main/reports/files'\n        }\n      ]\n    }\n  }\n] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        14656,
        2624
      ],
      "id": "6dae9d8d-3de4-4baf-afd5-feea8f04f801",
      "name": "Send Card with Report",
      "credentials": {
        "ciscoWebexOAuth2Api": {
          "id": "TWa8cH0YBppPtSqy",
          "name": "Cisco Webex account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "List report query files",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get the report agent prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a report file": {
      "main": [
        [
          {
            "node": "Get report URL and tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the report agent prompt": {
      "main": [
        [
          {
            "node": "Decode report agent prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the ticketing agent prompt": {
      "main": [
        [
          {
            "node": "Decode ticketing agent prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode report agent prompt": {
      "main": [
        [
          {
            "node": "Merge report query data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode ticketing agent prompt": {
      "main": [
        [
          {
            "node": "Merge ticketing query data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tickets AI Agent": {
      "main": [
        [
          {
            "node": "Convert to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON": {
      "main": [
        [
          {
            "node": "Is there an issue?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is there an issue?": {
      "main": [
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Card with Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get report URL and tag": {
      "main": [
        [
          {
            "node": "Merge ticketing query data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "List report query files": {
      "main": [
        [
          {
            "node": "Prepare report query files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare report query files": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Get the report query file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Random execution ID for memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the report query file": {
      "main": [
        [
          {
            "node": "Decode report query file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Reports AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Tickets AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Reports AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Reports AI Agent": {
      "main": [
        [
          {
            "node": "Create a report file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge ticketing query data",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get the ticketing agent prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode report query file": {
      "main": [
        [
          {
            "node": "Merge report query data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge report query data": {
      "main": [
        [
          {
            "node": "Consolidate report query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate report query": {
      "main": [
        [
          {
            "node": "Reports AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge ticketing query data": {
      "main": [
        [
          {
            "node": "Consolidate ticketing query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate ticketing query": {
      "main": [
        [
          {
            "node": "Tickets AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get the report agent prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "List report query files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random execution ID for memory": {
      "main": [
        [
          {
            "node": "Merge report query data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Cisco RADKit MCP - Full Mode": {
      "ai_tool": [
        [
          {
            "node": "Reports AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Card with Report": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Card with Report and Issue": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an issue": {
      "main": [
        [
          {
            "node": "Send Card with Report and Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6ca8ae4b-1a0f-4ceb-9301-87827bec0c48",
  "meta": {
    "instanceId": "7ef80d074504fe064404d3acb97f2c56a52c610120233990c1a806faf1c98cc3"
  },
  "id": "UEnHhmglWeKtCMfd",
  "tags": [
    {
      "updatedAt": "2026-05-18T16:19:26.141Z",
      "createdAt": "2026-05-18T16:19:26.141Z",
      "id": "NwgH1atPJOJ3J3Xh",
      "name": "reporting"
    },
    {
      "updatedAt": "2026-05-18T16:19:26.152Z",
      "createdAt": "2026-05-18T16:19:26.152Z",
      "id": "PmGX78yyxoSladgI",
      "name": "netops"
    }
  ]
}